.navbar,
.mainNavbar {
  background-color: #a6442d;
  padding: 15px;
  font-weight: 600;
  flex: 0.05;
  align-items: center;
  height: 7vh;
  border-bottom: 2px solid white;
}
.navbar {
  position: relative;
}
.mainNavbar > ul {
  display: flex;
  justify-content: center;
}
.navbar > ul {
  display: flex;
  justify-content: flex-end;
}
.navbar li,
.mainNavbar li {
  list-style-type: none;
  margin: 0 10px;
  color: white;
  font-size: 2rem;
}
.navbar a,
.mainNavbar a {
  font-size: 2rem;
}
.userDetails {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}
.userDetails p,
.userDetails i {
  margin: 0 10px;
  font-size: 1.6rem;
}
.userDetails i:hover {
  opacity: 0.8;
  cursor: pointer;
}
.userDetails_icon {
  font-size: 16px;
}
.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 7vh;
  background: #a6442d;
  padding: 20px;
  width: fit-content;
  z-index: 99;
}
.dropdown li {
  padding: 10px;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.dropdown li:hover {
  border-bottom: 1px solid gray;
}
.dropdown ul {
  padding: 0;
}
