* {
  box-sizing: border-box;
  margin: 0;
  font-size: 10px;
}

body {
  background-color: #a6442d;
  font-family: "Newsreader", serif;
  font-weight: 400;
  color: white;
  font-size: 2rem;
}

li,
i {
  font-size: 2.5rem;
}
a {
  color: white;
  font-size: 2.5rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.normal {
  font-size: 2.5rem;
}
.small {
  font-size: 1.5rem;
}
